@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}


:root {
  --font-space-grotesk: 'Space Grotesk', sans-serif;
  --font-jetbrains-mono: 'JetBrains Mono', monospace;
}

.font-display {
  font-family: var(--font-space-grotesk);
}

.font-mono {
  font-family: var(--font-jetbrains-mono);
}

.skew-hover:hover {
  transform: skew(-2deg, -1deg) scale(1.02);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.text-huge {
  font-size: 25vw;
  line-height: 0.8;
  letter-spacing: -0.05em;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menu-bar, .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

   .menu-bar a, .menu-open p {
    color: #fff;
    cursor: pointer;
   }

   .menu-close p {
    color: #000;
   }

   .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    background: #ccff00;
    z-index: 2;
    display: flex;
    
   }

   .menu-close-icon {
    flex: 2;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
   }

   .menu-copy {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
   }

   .menu-preview {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   }

 .menu-close-icon p {
    font-size: 100px;
    -webkit-text-stroke: 5px #ccff00;
    line-height: 70%;
 }

 .menu-link-item-holder {
    position: relative;
 }

 .menu-link-item-holder a {
    color: #000;
    font-size: 80px;
    font-weight: 400;
    letter-spacing: -0.02em;
    line-height: 85%;
 }

 .menu-info {
    display: flex;
 }

 .menu-info-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 }

/* a, p {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
} */

.page-content {
  width:100% ;
  height: 100%;
  min-height: 100vh;
  padding: 6em 2em;

}

