@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveStars {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}

.mwg_effect005 .word {
  display: inline-block;
  transform: translate(calc(100vw - 25px), 0);
  opacity: 0;
  will-change: transform, opacity;
}

.paragraph.is--xxl {
  font-size: 3rem;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .paragraph.is--xxl {
    font-size: 4rem;
  }
}

@media (min-width: 1024px) {
  .paragraph.is--xxl {
    font-size: 5rem;
  }
}
